<div class="modal" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <span class="close-button" (click)="closeModal()">&times;</span>
            <div class="modal-img">
                <img src="./assets/logo/{{product.hinh}}" alt="">
            </div>
            <h2>Danh sách địa điểm {{product.ten}}</h2>
        </div>
        <div class="modal-body">
            <div class="location">
                <div *ngIf="product.diaChi.bac.length > 0">
                    <h3>Miền Bắc</h3>
                    <p *ngFor="let diaChi of product.diaChi.bac"> -> {{ diaChi }}</p>
                </div>
                <div *ngIf="product.diaChi.trung.length > 0">
                    <h3>Miền Trung</h3>
                    <p *ngFor="let diaChi of product.diaChi.trung"> -> {{ diaChi }}</p>
                </div>
                <div *ngIf="product.diaChi.nam.length > 0">
                    <h3>Miền Nam</h3>
                    <p *ngFor="let diaChi of product.diaChi.nam"> ->{{ diaChi }}</p>
                </div>
            </div>
        </div>
    </div>
</div>