<div class="brand-container">
    <div *ngFor="let product of products" class="brand-item" (click)="openModal(product)">
        <div class="brand-image">
            <img src="./assets/logo/{{product.hinh}}" [alt]="product.ten">
        </div>
        <div class="brand-info">
            <h2>{{ product.ten }}</h2>
            <h4>{{ product.soLuongDiaDiem }} địa điểm</h4>
            <p>Hoàn tiền {{ product.hoanTien }}</p>
        </div>
    </div>
</div>

<app-product-detail *ngIf="showModal" [product]="selectedProduct" (close)="closeModal()"></app-product-detail>